/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Media queries */

@media screen and (max-width: 800px) {
    body {
        /* background-color: green; */
    }

    .header {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .navbar{
        order: 10;
        display: flex;
        justify-content: space-around;
    }

    .logo {
        order: 0;
        width: 20%;
        margin: auto 40%;
    }

    #top-right-img {
        display: none;
    }

    .top {
        display: flex;
        flex-direction: column;

    }

    .top-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 500px) {
    body {
        
    }

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbutton {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        width: 100%;
        height: 2.5em;
        text-align: center;
        vertical-align: middle;
        font-size: 1.5em;
        line-height: 2.5em;
    }

    .mid-top-all {
        display: flex;
        flex-direction: column;
        margin: 0 10px
    }

    .mid-top-left {
        margin-bottom: 1.5em;
    }

    .mid-bot-all {
        display: flex;
        flex-direction: column;
        margin: 0 10px
    }

    .mid-bot-left {
        margin-bottom: 1.5em;
    }

    .mid-bot-mid {
        margin-bottom: 1.5em;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin: 0 10px
    }



}




/* Media queries end */

body {
	max-width: 800px;
	margin: 0 auto;
}

.header {
	display: flex;
	width: 100%;
    justify-content: space-between;

}

.navbar {
    font-size: 12px;

}

.navbutton {
	color: lightgrey;
	text-decoration: none;
	margin: 15px;
	/* font-size: 12px; */
}

.logo {

}

.top {
	display: flex;
	border-bottom: 1px solid black;
	justify-content: space-between;
    padding-top: 25px;


}

.top-left {
	font-size: 75px;
	text-align: center;

}

.innoheader {

	
}

button {
	background: white;
}

.top-right {
	margin-bottom: 50px;

}

p {
	font-size: 15px;
	line-height: 1.25;
}

.mid-top-all {
	display: flex;
	margin-top: 25px;
	margin-bottom: 25px;

}


.mid-top-left {

}

.mid-top-right {

}

.middle-img {
	width: 100%;

}

.mid-bot-all {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-top: 25px;
	padding-bottom: 25px;

}

mid-bot-mid {
	
}

mid-bot-right {
	
}

.contact {
	margin-top: 25px;
}

.addressline {
	margin-top: 20px;
}

.emailline {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	display: flex;
	justify-content: center;
}